body{
  margin:0;
  font-family:Segoe UI;
  background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
}

.container{
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(10px);
  padding:30px;
  border-radius:15px;
  width:350px;
  text-align:center;
  box-shadow:0 0 20px rgba(0,0,0,0.4);
}

input{
  padding:10px;
  border:none;
  border-radius:8px;
  width:65%;
}

button{
  padding:10px 15px;
  border:none;
  border-radius:8px;
  background:#00c6ff;
  color:white;
  cursor:pointer;
  margin-left:5px;
}

.result-card{
  background:#111;
  margin-top:15px;
  padding:15px;
  border-radius:10px;
  text-align:left;
}